<!-- <table class="table table-striped table-dark">
   <thead>
       <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Body</th>
       </tr>
    </thead>
    <tbody>
        <tr *ngFor = 'let f of data'>
            <td>{{f._id}}</td>
            <td>{{f.title}}</td>
            <td>{{f.body}}</td>
        </tr>
    </tbody>
</table>

{{title}}
<br>
<input type="number" pattern=" number 1" [(ngModel)]='num1'> 
<br>
{{num1}}
<br>
<input type="number" pattern=" number 2" [(ngModel)]='num2'> 
<br>
{{num2}}
<br>
<button class="btn btn-success" [style.height.px]='height' (click)='add()' >Add</button>
<br>
{{result}}
<br>
<button class="btn btn-success" [style.height.px]='height' (click)='substract()' >Substract</button>
<br>
{{sub}}
<br>
<input  type="text"  [(ngModel)]='nameValue'>
<br>
{{nameValue}}
 -->
{{parentMessage}}
 <app-first (foo)='displayFoo($event)' [helloMessage]='childMessage'></app-first>
